@import '../../../breakpoints.scss';

.a-googleLogo {
    border: none;
    cursor: pointer;
    height: 56px;
    line-height: 0px;
    margin: 8px 0;
    text-align: center;
    width: 160px;

    @include fromTabletOn {
        height: 92px;
        width: 272px;
    }
}