.o-header {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    font-size: 13px;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    padding: 15px 0 0 0;
    position: relative;
    text-align: center;
    user-select: none;
    white-space: nowrap;
}